@charset "UTF-8";

/*
Template: Brick - Onepage HTML5 Template
Author: colorsthemes.com

[Table of Contents]
1. Structure
  1-1. General
  1-2. Spacing
  1-3. Menu
  1-4. Sticky Header
  1-5. Header
  1-6. TitleLine
  1-7. Copyright
  1-8. Back To Top
2. Pages
  2-1. Masonry
3. Typography
  3-1. Text Color
  3-2. List Styles
4. Background
  4-1. Bg Colors
  4-2. Bg Overwrite*/

/* ----------------------------------------------------------------------
	1-1. General
---------------------------------------------------------------------- */
html {
	font-size: 16px;
	line-height: 1.5;
}

body {
	position: relative;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.0rem;
	font-weight: 400;
	line-height: 1.5;
	color: #4c5566;
	text-align: left;
	overflow-x: hidden;
	background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: 0.5rem;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.2;
	color: #333c40;
}

h1,
.h1 {
	font-size: 2.0rem;
}

h2,
.h2 {
	font-size: 1.8rem;
}

h3,
.h3 {
	font-size: 1.6rem;
}

h4,
.h4 {
	font-size: 1.4rem;
}

h5,
.h5 {
	font-size: 1.2rem;
}

h6,
.h6 {
	font-size: 1.0rem;
}

.lead {
	font-size: 1.25rem;
	font-weight: 300;
}

a {
	color: #67a6e5;
	text-decoration: none;
}

a:hover {
	color: #252525;
	text-decoration: underline;
}

a:focus {
	outline: none;
	cursor: pointer;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

figure {
	margin: 0;
}

img {
	vertical-align: middle;
	border-style: none;
	max-width: 100%;
	height: auto;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

pre {
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	-ms-overflow-style: scrollbar;
	background: #fdfdfd;
	border: 1px solid #dddddd;
	padding: 20px;
}

::selection {
	background: #67a6e5;
	color: #ffffff;
}

#boxed-wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.form-control {
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 0.9rem;
	line-height: 1.5;
	color: #888888;
	background-color: #f5f5f5;
	border: 1px solid rgba(255, 255, 255, 0);
	font-family: sans-serif;
	border-radius: 0;
	margin-top: 0;
	margin-bottom: 20px;
}

.form-control:focus {
	color: #888888;
	background-color: #eeeeee;
	border: 1px solid rgba(255, 255, 255, 0);
	outline: none;
	outline: 0;
	box-shadow: none;
}

.form-select {
	width: 100%;
	color: #888888;
	background-color: #f5f5f5;
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 0;
}

/* ----------------------------------------------------------------------
	1-2. Spacing
---------------------------------------------------------------------- */
/*
@media (min-width: 1400px) {
.container { max-width: 1360px; }
}
*/
.mb-0 {
	margin-bottom: 0;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-80 {
	margin-bottom: 80px;
}

.mb-90 {
	margin-bottom: 90px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mb-110 {
	margin-bottom: 110px;
}

.mb-120 {
	margin-bottom: 120px;
}

.mb-130 {
	margin-bottom: 130px;
}

.mb-140 {
	margin-bottom: 140px;
}

.mb-150 {
	margin-bottom: 150px;
}

.mb-160 {
	margin-bottom: 160px;
}

.mb-170 {
	margin-bottom: 170px;
}

.mb-180 {
	margin-bottom: 180px;
}

.mb-190 {
	margin-bottom: 190px;
}

.mb-200 {
	margin-bottom: 200px;
}

@media (max-width: 991px) {

	.col-xs-1,
	.col-sm-1,
	.col-md-1,
	.col-lg-1,
	.col-xl-1,
	.col-xs-2,
	.col-sm-2,
	.col-md-2,
	.col-lg-2,
	.col-xl-2,
	.col-xs-3,
	.col-sm-3,
	.col-md-3,
	.col-lg-3,
	.col-xl-3,
	.col-xs-4,
	.col-sm-4,
	.col-md-4,
	.col-lg-4,
	.col-xl-4,
	.col-xs-5,
	.col-sm-5,
	.col-md-5,
	.col-lg-5,
	.col-xl-5,
	.col-xs-6,
	.col-sm-6,
	.col-md-6,
	.col-lg-6,
	.col-xl-6,
	.col-xs-7,
	.col-sm-7,
	.col-md-7,
	.col-lg-7,
	.col-xl-7,
	.col-xs-8,
	.col-sm-8,
	.col-md-8,
	.col-lg-8,
	.col-xl-8,
	.col-xs-9,
	.col-sm-9,
	.col-md-9,
	.col-lg-9,
	.col-xl-9,
	.col-xs-10,
	.col-sm-10,
	.col-md-10,
	.col-lg-10,
	.col-xl-10,
	.col-xs-11,
	.col-sm-11,
	.col-md-11,
	.col-lg-11,
	.col-xl-11,
	.col-xs-12,
	.col-sm-12,
	.col-md-12,
	.col-lg-12,
	.col-xl-12 {
		margin-bottom: 20px;
	}

	.mb--20 {
		margin-bottom: -20px;
	}
}

/* ----------------------------------------------------------------------
	1-3. Menu
---------------------------------------------------------------------- */
/* Menu Container */
.navbar {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0rem 1rem;
	background-color: rgba(255, 255, 255, 0);
}

.navbar>.container,
.navbar>.container-fluid {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/* Brand */
.navbar-brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

.navbar-brand:focus,
.navbar-brand:hover {
	text-decoration: none;
}

/* Mobile Menu Button */
.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	border-color: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0);
	color: rgba(0, 0, 0, 0.5);
	border-radius: 0.25rem;
	cursor: pointer;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
	text-decoration: none;
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Main Menu */
.navbar-collapse {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-align: center;
	align-items: center;
}

.collapse {
	display: none;
}

.collapse.show {
	display: block;
}

.navbar-nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
	display: block;
	padding: 1.125rem 0.5rem;
	color: #333c40;
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.2rem;
		padding-left: 0.2rem;
	}
}

@media (max-width: 991px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 1.2rem;
		padding-left: 1.2rem;
	}
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
	text-decoration: none;
	color: #67a6e5;
}

.navbar-nav .nav-link.disabled {
	color: rgba(0, 0, 0, 0.3);
}

.navbar-nav .show>.nav-link,
.navbar-nav .active>.nav-link,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link.active {
	color: #67a6e5;
}

/* Dropdown */
.dropup,
.dropdown {
	position: relative;
}

.dropdown-toggle::after,
.dropup .dropdown-toggle::after {
	display: none;
	border: none;
}

.navbar-nav .dropdown-menu {
	position: static;
	float: none;
}

.dropdown-menu {
	position: absolute;
	top: 95%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: 0;
	margin: 0.125rem 0 0;
	font-size: 14px;
	color: #ffffff;
	text-align: left;
	list-style: none;
	background-color: #333333;
	border: 1px solid rgba(255, 255, 255, 0);
	background-clip: padding-box;
	border-radius: 0;
}

.dropdown-menu-right {
	right: 0 !important;
	left: auto !important;
}

.dropup .dropdown-menu {
	margin-top: 0;
	margin-bottom: 0.125rem;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: 0.625rem 0.9375rem;
	clear: both;
	font-weight: 400;
	color: #dddddd;
	text-align: inherit;
	white-space: nowrap;
	background: none;
	border: 0;
	border-radius: 0;
}

.dropdown-item i {
	margin-right: 5px;
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #67a6e5;
	border-radius: 0;
}

.dropdown-item.active,
.dropdown-item:active {
	color: #ffffff;
	text-decoration: none;
	background-color: #67a6e5;
}

.dropdown-menu.show {
	display: block;
}

.dropdown-header {
	display: block;
	padding: 0.5rem 1.5rem;
	margin-bottom: 0;
	font-size: 0.9rem;
	color: #868e96;
	white-space: nowrap;
}

@media (min-width: 992px) {
	.dropdown-menu:after {
		position: absolute;
		content: '';
		top: -14px;
		left: 30px;
		right: auto;
		margin: auto;
		width: 0;
		height: 0;
		border-top: 7px solid rgba(255, 255, 255, 0);
		border-right: 7px solid rgba(255, 255, 255, 0);
		border-bottom: 7px solid #333333;
		border-left: 7px solid rgba(255, 255, 255, 0);
		display: block;
	}

	.dropdown-searchbox .dropdown-menu:after {
		display: none;
	}

	.dropdown-item {
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	}

	.dropdown-item:last-child {
		border-bottom: 0;
	}

	.dropdown-divider {
		height: 0;
		margin: 0;
		overflow: hidden;
		border-top: 1px solid rgba(0, 0, 0, 0.7);
	}
}

/* ----------------------------------------------------------------------
	1-4. Sticky Header
---------------------------------------------------------------------- */
@media (min-width: 992px) {
	.sticked .navbar {
		background: rgba(255, 255, 255, 1.0);
		-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
		-webkit-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
}

@media (max-width: 991px) {
	#header {
		position: relative !important;
	}
}

/* ----------------------------------------------------------------------
	1-5. Header
---------------------------------------------------------------------- */
#header-wrap {
	position: relative;
}

#header {
	position: relative;
	z-index: 300;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	background-color: rgba(255, 255, 255, 0);
}

/* ----------------------------------------------------------------------
	1-6. TitleLine
---------------------------------------------------------------------- */
/* TitleLine */
.titleline {
	position: relative;
	max-width: 50px;
	border-top: 1px solid #67a6e5;
	margin: 0 auto 20px 0;
}

.titleline-center {
	position: relative;
	max-width: 50px;
	border-top: 1px solid #67a6e5;
	margin: 0 auto 20px;
}

.titleline-footer {
	position: relative;
	max-width: 50px;
	border-top: 1px solid #67a6e5;
	margin: 0 auto 20px 0;
}

/* ----------------------------------------------------------------------
	1-7. Copyright
---------------------------------------------------------------------- */
#copyright {
	position: relative;
	width: 100%;
	height: auto;
	background: #eeeeee;
	color: #888888;
	padding: 30px 0 30px;
}

.copyright {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
	color: #888888;
}

.copyright li {
	margin-right: 10px;
}

.copyright li i {
	margin-right: 8px;
}

.copyright li a {
	text-decoration: none;
}

.copyright li a:hover,
.copyright li a:focus {
	cursor: pointer;
	text-decoration: none;
	color: #555555;
}

/* ----------------------------------------------------------------------
	1-8. Back To Top
---------------------------------------------------------------------- */
#back-to-top {
	display: none;
	position: fixed;
	right: 22px;
	bottom: 22px;
	z-index: 999999;
	text-indent: -9999px;
	background-image: url("../images/assets/backtotop.png");
	background-repeat: no-repeat;
	background-color: #333c40;
	background-position: left top;
	width: 40px;
	height: 40px;
	border-radius: 0;
	-webkit-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#back-to-top a {
	display: block;
	width: 40px;
	height: 40px;
}

#back-to-top:hover,
#back-to-top:focus {
	background-color: #67a6e5;
}

/* ----------------------------------------------------------------------
	2-1. Masonry
---------------------------------------------------------------------- */
/* Masonry */
.masonry {
	margin: 0;
	padding: 0;
	min-height: 150px;
	overflow: hidden;
	padding-top: 5px;
	margin-bottom: 20px;
}

.masonry:after {
	content: '';
	display: block;
	clear: both;
}

.masonry-item {
	position: relative;
	float: left;
	color: inherit;
	background: rgba(255, 255, 255, 0);
	margin-bottom: 30px;
	animation-fill-mode: backwards;
	/**/
}

.masonry-item>* {
	margin: 0;
	padding: 0;
}

.masonry-item img {
	width: 100%;
	height: auto;
}

/* Masonry Grid - no flex-box */
.masonry-row {
	margin-right: -15px;
	margin-left: -15px;
	display: block;
}

.masonry-row:before,
.masonry-row:after {
	display: table;
	content: " ";
}

.masonry-row:after {
	clear: both;
}

.grid-2,
.grid-3,
.grid-4,
.grid-6,
.grid-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.grid-2 {
	width: 20%;
}

.grid-3 {
	width: 25%;
}

.grid-4 {
	width: 33.3%;
}

.grid-6 {
	width: 50%;
}

.grid-12 {
	width: 100%;
}

@media (max-width: 991px) {

	.grid-2,
	.grid-3,
	.grid-4,
	.grid-6 {
		width: 33.3%;
	}

	.grid-12 {
		width: 100%;
	}
}

@media (max-width: 767px) {

	.grid-2,
	.grid-3,
	.grid-4,
	.grid-6 {
		width: 50%;
	}

	.grid-12 {
		width: 100%;
	}
}

@media (max-width: 575px) {

	.grid-2,
	.grid-3,
	.grid-4,
	.grid-6,
	.grid-12 {
		width: 100%;
	}
}

/* Hover */
.masonry-item:hover img {
	opacity: 0.8;
}

/* ----------------------------------------------------------------------
	3-1. Text Color
---------------------------------------------------------------------- */
.text-white {
	color: #ffffff !important;
}

.text-gray {
	color: #8c8c8c !important;
}

.text-black {
	color: #0c0c0c !important;
}

.text-pink {
	color: #cc7aa3 !important;
}

.text-blue {
	color: #7aa3cc !important;
}

.text-aqua {
	color: #7acccc !important;
}

.text-green {
	color: #7acca3 !important;
}

.text-olive {
	color: #a3cc7a !important;
}

.text-yellow {
	color: #cccc7a !important;
}

.text-orange {
	color: #cca37a !important;
}

.text-red {
	color: #cc7a7a !important;
}

.text-theme {
	color: #67a6e5 !important;
}

/* ----------------------------------------------------------------------
	3-2. List Styles
---------------------------------------------------------------------- */
ul,
ol {
	margin-top: 0;
	margin-bottom: 10px;
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin-bottom: 0;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
	line-height: 2.0em;
}

.list-unordered {
	line-height: 2.0em;
}

.list-ordered {
	line-height: 2.0em;
}

.icon-arrow-list {
	padding-left: 0;
	list-style: none;
	line-height: 2.0em;
	margin: 10px 0;
}

.icon-arrow-list ul,
.icon-arrow-list ul ul {
	list-style: none;
}

.icon-arrow-list li,
.icon-arrow-list li a {
	color: inherit;
}

.icon-arrow-list li i {
	margin-right: 8px;
	color: #67a6e5;
}

/* ----------------------------------------------------------------------
	4-1. Bg Colors
---------------------------------------------------------------------- */
.bgcolors {
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-height: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.bgcolors-gray {
	background: #f5f5f5;
}

.bgcolors-black {
	border: none;
	background: #333333;
}

.bgcolors-theme {
	border: none;
	background: #67a6e5;
}

/* ----------------------------------------------------------------------
	4-2. Bg Overwrite
---------------------------------------------------------------------- */
/* Text White */
.text-white,
.text-white:before,
.text-white:after {
	color: #ffffff !important
}

/* Border White */
.border-white,
.border-white:before,
.border-white:after {
	border-color: #ffffff !important;
}

/* Background White */
.bg-white,
.bg-white:before,
.bg-white:after {
	background-color: #ffffff !important;
}

/* Border Transparent */
.border-transparent,
.border-transparent:before,
.border-transparent:after {
	border-color: rgba(255, 255, 255, 0) !important;
}

/* Background Transparent */
.bg-transparent,
.bg-transparent:before,
.bg-transparent:after {
	background-color: rgba(255, 255, 255, 0) !important;
}

/* Border */
.border-transparent {
	border: 1px solid rgba(255, 255, 255, 0) !important;
}

.border-white {
	border: 1px solid #ffffff !important;
}
